.post {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    z-index: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 1s ease;

    position: relative;
    z-index: -1;
  }

  &__text-wrapper {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: white;
    transition: background-color 1s ease;
  }

  &__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
    line-height: 1.3em;
  }

  &__date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
  }

  &__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease, opacity .7s ease;
  }

  &__excerpt {
    font-weight: 300;
    line-height: 1.2;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    &__link {
     display: none;
    }

    &:hover &__details-wrapper {
      max-height: 20rem;
      opacity: 1;
    }
    &:hover &__text-wrapper {
      background-color: rgba(0, 0, 0, .8);
    }
    &:hover &__title {
      color: #f68686;
    }
    &:hover &__image {
      transform: scale(1.2);
    }
  }
}
