:root {
  font-size: 16px;
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-base;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.page-description {
  margin-top: 2rem;
  font-size: calc(20px + 20 * ((100vw - 300px) / 1600));
  line-height: 1.3em;
  text-align: center;
}

.loading {
  display: inline-block;
  margin: 20px 0;
  width: 80px;
  height: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #101010;
    border-color: #101010 transparent #101010 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
