.header {
  min-height: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;

  &__slogan {
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
  }
}

.navigation {
  display: inline-block;
  margin-left: 20px;

  &__item {
    text-decoration: none;
    padding: 0 10px;

    color: inherit;

    &--active {
      color: tomato;
      border-bottom: 2px solid;
    }
  }
}

.active {
  color: tomato;
}